:not(path).true {
    fill: #0f0 !important;
}

path.true {
    stroke: #0f0 !important;
}

:not(path).false {
    fill: #f00 !important;
}

path.false {
    stroke: #f00 !important;
}

#akku-mq:not(.true, .false) {
    stroke: #888 !important;
}

.true {
    color: #0f0;
}
.false {
    color: #f00;
}