#table-wrapper {
    position: relative;
    overflow: auto;
    width: fit-content;
}

#row-highlight {
    position: absolute;
    background-color: greenyellow;
    opacity: 0.2;
    left: 0;
    right: 0;
    height: 0;
    pointer-events: none;

    transition:
        top 0.25s ease, 
        height 0.25s ease;
}

#row-highlight.instant {
    transition: none;
}

table {
    border-collapse: collapse;
}

table tr {
    border-bottom: solid 1px var(--border);

    &:first-child {
        position: sticky;
        top: 0;
        background-color: var(--bg);
   }

   &:not(:first-child) {
        font-family: var(--mono);
   }

    & > * {
        border-right: solid 1px var(--border);
        padding: 0 1px;
    }

    & > *:first-child {
        border-left: solid 1px var(--border);
        text-align: right;
    }

    &.alu {
        text-align: center;
    }

    &:not(.alu) > td {
        padding-left: 5px;
    }
}

table th {
    white-space: nowrap;
    font-size: 75%;
}

table td.breakpoint {
    background-color: darkred;
}

.true {
    color: #0f0;
}
.false {
    color: #f00;
}